body{
    margin:0;
    font-family:Arial, sans-serif;
    font-size:16px;
    background:linear-gradient(135deg,#dff6ff,#fff3cd,#d4edda);
}

/* Header */

header{
    background:#00695c;
    color:white;
    text-align:center;
    padding:20px;
}

header h1{
    font-size:32px;
    margin-bottom:5px;
}

header h3{
    font-size:20px;
    margin:0;
}

/* Pages */

.page{
    display:none;
    width:90%;
    max-width:1000px;
    margin:20px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.active{
    display:block;
}

/* Headings */

h1{
    color:#c21c1c;
    text-align:center;
    font-size:36px;
    margin-bottom:20px;
}

h2{
    color:#b62929;
    text-align:center;
    font-size:30px;
    margin-bottom:20px;
}

h3{
    font-size:22px;
}

/* Text */

p{
    font-size:18px;
    line-height:1.7;
}

li{
    font-size:18px;
    line-height:1.7;
    margin-bottom:6px;
}

/* Event Box */

.event{
    background:#f1f8e9;
    padding:20px;
    border-left:6px solid green;
    border-radius:10px;
    margin-top:20px;
}

/* Buttons */

button{
    background:#008080;
    color:white;
    border:none;
    padding:12px 25px;
    margin:10px;
    border-radius:6px;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
}

button:hover{
    background:#004d40;
}

/* Footer */

footer{
    background:#002b36;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
    font-size:18px;
}
