body{
    margin:0;
    font-family:Arial, sans-serif;
    font-size:14px;
    background:linear-gradient(135deg,#dff6ff,#fff3cd,#d4edda);
}
.invitation-image{
    width:100%;
    max-width:800px;
    display:block;
    margin:20px auto;
    border-radius:10px;
}

/* Header */

header{
    background:#359186;
    color:white;
    text-align:center;
    padding:12px;
}

.bismillah {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    color: black;
}

header h1{
    font-size:22px;
    margin-bottom:3px;
}


header h3{
    font-size:14px;
    margin:0;
}


/* Pages */

.page{
    display:none;
    width:85%;
    max-width:800px;
    margin:15px auto;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 12px rgba(0,0,0,0.15);
}

.active{
    display:block;
}

/* Headings */

h1{
    color:#c21c1c;
    text-align:center;
    font-size:24px;
    margin-bottom:15px;
}

h2{
    color:#c73333;
    text-align:center;
    font-size:16px;
    margin-bottom:15px;
}

h3{
    font-size:16px;
    Color: rgb(177, 62, 62);
}

/* Text */

p{
    font-size:14px;
    line-height:1.5;
}

li{
    font-size:14px;
    line-height:1.5;
    margin-bottom:4px;
}

/* Event Box */

.event{
    background:#f1f8e9;
    padding:15px;
    border-left:5px solid green;
    border-radius:10px;
    margin-top:15px;
}

/* Buttons */

button{
    background:#008080;
    color:white;
    border:none;
    padding:8px 16px;
    margin:6px;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
    font-weight:bold;
}

button:hover{
    background:#004d40;
}

/* Footer */

footer{
    background:#002b36;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:15px;
    font-size:14px;
}
